*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#f4f7fc;
}

nav{
    background:#1f2937;
    color:white;
    display:flex;
    justify-content:space-between;
    padding:20px 60px;
}

nav ul{
    list-style:none;
    display:flex;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
}

.hero{
    background:linear-gradient(
        135deg,
        #2563eb,
        #1e40af
    );

    color:white;
    text-align:center;
    padding:80px 20px;
}

.hero h1{
    font-size:42px;
    margin-bottom:20px;
}

.hero p{
    font-size:18px;
}

.prediction-card{
    width:500px;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 4px 20px rgba(0,0,0,0.15);
}

.prediction-card h2{
    margin-bottom:20px;
}

input{
    width:100%;
    padding:14px;
    margin-bottom:15px;
    border:1px solid #ddd;
    border-radius:8px;
}

button{
    width:100%;
    padding:15px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}

.result-card{
    width:600px;
    margin:100px auto;
    text-align:center;
    background:white;
    padding:40px;
    border-radius:15px;
    box-shadow:0 4px 20px rgba(0,0,0,0.15);
}

.price-box{
    font-size:40px;
    color:#16a34a;
    margin:20px 0;
    font-weight:bold;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:#2563eb;
    color:white;
    text-decoration:none;
    border-radius:8px;
}

.about{
    width:800px;
    margin:50px auto;
    background:white;
    padding:30px;
    border-radius:15px;
}

.about h1,
.about h2{
    margin-bottom:15px;
}

.about p,
.about li{
    margin-bottom:10px;
}

footer{
    text-align:center;
    padding:20px;
    margin-top:40px;
}