<!DOCTYPE html>
<html>
<head>
    <title>About Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <div class="logo">🏠 House Price Predictor</div>
</nav>

<div class="about">

<h1>About the Project</h1>

<p>
This project predicts house prices using
Machine Learning and Linear Regression.
</p>

<h2>Dataset Features</h2>

<ul>
    <li>Area</li>
    <li>Bedrooms</li>
    <li>Bathrooms</li>
    <li>Price</li>
</ul>

<h2>Algorithm Used</h2>

<p>Linear Regression</p>

<h2>Technology Stack</h2>

<ul>
    <li>Python</li>
    <li>Flask</li>
    <li>Scikit-Learn</li>
    <li>HTML/CSS</li>
</ul>

</div>

</body>
</html>